/* Import elegant font fra Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Generell styling */
body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: #121212; /* Mørk bakgrunn */
  color: #ffffff; /* Hvit tekst */
}

.App {
  text-align: center;
}

.App-title {
  font-size: 3rem; /* Større skrift */
  font-weight: 700; /* Tykkere skrift */
  text-align: center; /* Sentralisert tekst */
  margin-top: 20px; /* Avstand fra toppen */
  color: #ddd9ca; /* Gullfarget tekst */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtil skygge */
}

.App-subtitle {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #cccccc; /* Lys grå */
}

.App-container {
  margin-top: 30px;
}

.App-description {
  margin-bottom: 20px;
  font-size: 1rem;
  color: #aaaaaa; /* Dempet grå */
}

.App-button {
  background-color: #ffdd57; /* Gull */
  color: #1e1e1e; /* Mørk grå */
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.App-button:hover {
  background-color: #e6c04c; /* Mørkere gull */
}
