.App-title {
    font-size: 2rem; /* Større skrift */
    font-weight: 700; /* Tykkere skrift */
    text-align: center; /* Sentralisert tekst */
    margin-top: 20px; /* Avstand fra toppen */
    color: #f3c90c; /* Gullfarget tekst */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtil skygge */
  }